@charset 'utf-8';

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/HelveticaNeue-Light.eot?#iefix) format('embedded-opentype'),
		url(fonts/HelveticaNeue-Light.woff2) format('woff2'),
		url(fonts/HelveticaNeue-Light.woff) format('woff'),
		url(fonts/HelveticaNeue-Light.svg) format('svg');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	src: url(fonts/HelveticaNeue-Medium.eot?#iefix) format('embedded-opentype'),
		url(fonts/HelveticaNeue-Medium.woff2) format('woff2'),
		url(fonts/HelveticaNeue-Medium.woff) format('woff'),
		url(fonts/HelveticaNeue-Medium.svg) format('svg');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/HelveticaNeue-Bold.eot?#iefix) format('embedded-opentype'),
		url(fonts/HelveticaNeue-Bold.woff2) format('woff2'),
		url(fonts/HelveticaNeue-Bold.woff) format('woff'),
		url(fonts/HelveticaNeue-Bold.svg) format('svg');
}

@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/ydygo/YDYGO110.eot?#iefix) format('embedded-opentype'),
		url(fonts/ydygo/YDYGO110.woff) format('woff');
}

@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/ydygo/YDYGO130.eot?#iefix) format('embedded-opentype'),
		url(fonts/ydygo/YDYGO130.woff) format('woff');
}

@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/ydygo/YDYGO150.eot?#iefix) format('embedded-opentype'),
		url(fonts/ydygo/YDYGO150.woff) format('woff');
}